#board {
    width: 80%;
    max-width: 400px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
}



.white {
    background-color: #eeeed2;
}
.piece {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.komakazu{
    line-height: 36px;
}

.rkomakazu{
    line-height: 36px;
    margin-bottom: 40px;
}

.kpiece {
    /* 各駒のスタイル */
    width: 40px;
    height: 40px;
    background-size: contain;
    cursor: pointer;
    margin-bottom: 5px;
}

.piece-area {
    width: 50px; /* 適切な幅を設定してください */
    height: 400px; /* 適切な高さを設定してください */
    border: 1px solid #000;
    background-color: #be7515;
    top: px;
}

.piece-area2 {
    width: 50px; /* 適切な幅を設定してください */
    height: 400px; /* 適切な高さを設定してください */
    border: 1px solid #000;
    background-color: #be7515;
}

#game {
    width: 100%;
    display: flex;
    align-items: end;
}
.top {
    align-items: start;
    display: inline-flex;
}